<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 조회</title>
</head>
<body>
<form method="get">
    <select name="searchType">
        <option value='1' th:selected="(${searchType} == '1')">제목</option>
        <option value='2' th:selected="(${searchType} == '2')">내용</option>
        <option value='3' th:selected="(${searchType} == '3')">작성자</option>
        <option value='4' th:selected="(${searchType} == '4')">제목+내용</option>
    </select>
    <input type="text" name="searchKeyword" th:value="${searchKeyword}">
    <button type="submit">검색</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>글번호</th>
        <th>글제목</th>
        <th>작성자</th>
        <th>작성날짜</th>
        <th>수정날짜</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="board:${board['getRecord']}">
            <td th:text="${board.board_id}">1</td>
            <td>
                <a th:href="@{/list/{board_id}(board_id=${board.board_id})}" th:text="${board.board_title}">제목</a>
            </td>
            <td th:text="${board.board_writer}">작성자</td>
            <td th:text="${board.board_write_date}">작성날짜</td>
            <td th:text="${board.board_modify_date}">수정날짜</td>

        </tr>
    </tbody>
</table>
    <div class="content" th:utext="${board['paging']}" />
</body>
</html>