<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/update/{board_id}(board_id=${board.board_id})}" method="post">
  <input type="text" id="board_title"  name="board_title" th:value="*{board.board_title}">
  <input type="text" id="board_writer" name="board_writer"th:value="*{board.board_writer}">
  <textarea type="text" id="board_content"name="board_content" value="내용" th:text="*{board.board_content}"></textarea>
    <button type="submit"></button>
</form>
</body>
</html>