<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${board.board_title}"></h1>
    <p th:text="${board.board_writer}"></p>
    <p th:text="${board.board_content}"></p>
    <p th:text="${board.board_write_date}"></p>
    <p th:text="${board.board_modify_date}"></p>
    <a th:href="@{/delete(board_id=${board.board_id})}">삭제</a>
    <a th:href="@{/modify/{board_id}(board_id=${board.board_id})}">수정</a>

    <form th:action="@{/list/addComment/{board_id}(board_id=${board.board_id})}" method="post">
        <input type="text" id="comment_sequence" name="comment_sequence" value="게시물 번호">
        <input type="text" id="parent_id" name="parent_id" value="부모 아이디">
        <input type="text" id="depth" name="depth" value="depth">
        <input type="text" id="comment_writer" name="comment_writer" value="작성자">
        <input type="text" id="comment_content" name="comment_content" value="내용">
        <button type="submit">작성</button>
    </form>
    <div th:each="comment :${comment['resultList']}">
            <span th:text="${comment.comment_sequence}">comment_sequence</span>
            <span th:text="${comment.comment_id}">comment_id</span>
            <span th:text="${comment.depth}"></span>
            <span th:text="${comment.comment_writer}">comment_writer</span>
            <span th:text="${comment.comment_content}">comment_content</span>
    </div>
<!--    <div th:text=" ${comment.comment_write_date}"></div>-->
<!--    <div th:text="${comment.comment_modify_date}"></div>-->

</body>
</html>