<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
    <script
            src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>게시글 상세보기</title>
    <style>
    </style>
</head>
<body>
    <h1 th:text="${board.board_title}"></h1>
    <p th:text="${board.board_writer}"></p>
    <p th:text="${board.board_content}"></p>
    <p th:text="${board.board_write_date}"></p>
    <p th:text="${board.board_modify_date}"></p>
    <a th:href="@{/delete(board_id=${board.board_id})}">삭제</a>
    <a th:href="@{/modify/{board_id}(board_id=${board.board_id})}">수정</a>

    <form id="frm" name="frm" th:action="@{/list/addComment/{board_id}(board_id=${board.board_id})}" method="post">
        <input type="text" name="comment_writer" value="작성자">
        <input type="text" name="comment_content" value="내용">
        <input type="text" name="comment_password" value="비밀번호">
        <input type="hidden" name="depth" value="0">
        <input type="hidden" name="board_id" th:value="${board.board_id}">
        <input type="hidden" name="parent_id" value="0">
        <button type="submit">작성</button>
    </form>


    <div th:each="comment, loop: ${comment}">
            <span th:text="${comment.content}"></span>
            <button th:id = "${comment.id}" class = "writeComment" th:attr="data-depth=${comment.depth}">등록</button>
            <button th:id = "${comment.id}" class = "alterComment">수정</button>
            <button th:id = "${comment.id}" class = "deleteComment">삭제</button>
    </div>

<script>
        // 동적으로 버튼 생성
        function createElement(){

            const writer = document.createElement("input");
            const content = document.createElement("input");
            const password = document.createElement("input");
            const write = document.createElement("button");
            const modify = document.createElement("button");
            const cancle = document.createElement("button");

            writer.innerHTML = "작성자";
            content.innerHTML = "내용";
            password.innerHTML = "비밀번호"
            write.innerHTML = "답글 작성";
            modify.innerHTML="수정";
            cancle.innerHTML="취소";

            writer.setAttribute("id", "comment_writer");
            content.setAttribute("id", "comment_content");
            password.setAttribute("id", "comment_password");
            write.setAttribute("id", "write");
            modify.setAttribute("id", "modify");

            const divEl = document.createElement("div");

            divEl.appendChild(writer);
            divEl.appendChild(content);
            divEl.appendChild(password);
            divEl.appendChild(write);
            divEl.appendChild(modify);
            divEl.appendChild(cancle)

            document.body.appendChild(divEl);
        }

        // 동적 생성 => 답글 작성 버튼을 눌렀을 때
        const writeComment = document.querySelectorAll('.writeComment');
        const writeCommentSize = writeComment.length;

        // 현재 게시판 번호를 가져오기
        let path = location.pathname;
        let board_id = path.split('/')[2];


        for(let i = 0; i<writeCommentSize; i++){
            let comment = writeComment[i];
            comment.addEventListener("click", function(){
                let id = comment.id
                let depth = parseInt(comment.dataset.depth);
                createElement();

                // 동적 생성 => 답글 작성 버튼을 눌렀을 때
                document.getElementById("write").addEventListener("click", async function(){

                    try{
                        let comment_writer = document.getElementById('comment_writer').value;
                        let comment_content = document.getElementById('comment_content').value;
                        let comment_password = document.getElementById("comment_password").value;

                        // 답글 생성하기
                        await axios.post(`/list/addComment/axios/${board_id}`,
                            {

                                parent_id : id,
                                comment_writer : comment_writer,
                                comment_content : comment_content,
                                board_id : board_id,
                                depth : depth+1,
                                comment_password : comment_password,
                            },
                            {
                                "Content-Type" : `application/json`,
                            },
                        )
                    }
                    catch (e){
                        alert(e);
                    }
                })
            })
        }

        // 삭제 버튼을 눌렀을 때
        $(document).on("click",".deleteComment", async (e)=>{
            let comment_password = prompt("비밀번호를 입력하세요", "");
            let idCheck = $(e.target).attr("id");

            const axiosConfig = {
                headers:{
                    "Content-Type": "application/json"
                }
            }

            // 패스워드가 맞다면 댓글 삭제
            const {data} = await axios.post("/delete/password", {idCheck, board_id, comment_password}, axiosConfig);

            console.log(`data : ${JSON.stringify(data.delete)}`)

            if (!data.delete=='Y') {
                alert('삭제 실패');
                return;
            }

            alert('삭제 완료')
            location.reload();
        });


        // 수정 버튼을 눌렀을 때
        $(document).on("click", ".alterComment", async function(e){
            createElement();
            let id = $(e.target).attr("id");
            const {data:data2} = await axios.post('/modify/remember' ,{comment_id : id, comment_sequence : board_id});
            console.log(`data2 : ${JSON.stringify(data2.modify)}`);

            // 수정 버튼 누를 시, 전에 입력했던 값 input 창에 출력하기
            const rtnData = data2.modify;

            document.getElementById('comment_writer').value = rtnData.comment_writer;
            document.getElementById('comment_content').value = rtnData.comment_content;
            document.getElementById("comment_password").value = rtnData.comment_password;

            // 동적 생성 => 수정 버튼을 눌렀을 때
            $(document).on("click", "#modify", async function(){
                let comment_writer = document.getElementById('comment_writer').value;
                let comment_content = document.getElementById('comment_content').value;
                let comment_password = document.getElementById('comment_password').value;

                // 답글 수정하기
                const {data:data1} = await axios.post(`/modify/comment/${board_id}` , {comment_writer, comment_content, comment_password, comment_id : id, comment_sequence : board_id});
                console.log(`data1 : ${data1.}`)
            })
        })

</script>
</body>
</html>