<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Title</title>
    <style>
    </style>
</head>
<body>
    <h1 th:text="${board.board_title}"></h1>
    <p th:text="${board.board_writer}"></p>
    <p th:text="${board.board_content}"></p>
    <p th:text="${board.board_write_date}"></p>
    <p th:text="${board.board_modify_date}"></p>
    <a th:href="@{/delete(board_id=${board.board_id})}">삭제</a>
    <a th:href="@{/modify/{board_id}(board_id=${board.board_id})}">수정</a>

    <form id="frm" name="frm" th:action="@{/list/addComment/{board_id}(board_id=${board.board_id})}" method="post">
        <input type="text" id="comment_writer" name="comment_writer" value="작성자">
        <input type="text" id="comment_content" name="comment_content" value="내용">
        <button type="submit">작성</button>
    </form>


    <div th:each="comment, loop: ${comment}">
            <span th:text="${comment.content}"></span>
            <button th:id = "'comment_'+${comment.id}" class = "writeComment" type="submit">댓글 등록</button>
    </div>


    <button id="axiosTest">test</button>

<script>
        const writeComment = document.querySelectorAll('.writeComment');
        const writeCommentSize = writeComment.length;

        for(var i = 0; i<writeCommentSize; i++){
            var comment = writeComment[i];

            comment.addEventListener("click", function(){
                const input1 = document.createElement("input");
                // 내용
                const input2 = document.createElement("input");
                // 등록
                const button1 = document.createElement("button");
                // 삭제
                const button2 = document.createElement("button");

                input1.innerHTML = "작성자";
                input2.innerHTML = "내용";
                button1.innerHTML = "답글 작성";
                button2.innerHTML="취소";

                const divEl = document.createElement("div");

                divEl.appendChild(input1);
                divEl.appendChild(input2);
                divEl.appendChild(button1);
                divEl.appendChild(button2);

                document.body.appendChild(divEl);

            })
        }


    document.getElementById('axiosTest').addEventListener('click', async function (){
        // axios 를 쓴다

        try {
            const rtnData = await axios.post('/axios',
                {
                    parent_id : 36,
                    comment_sequence : 1,
                    comment_writer : 'sejin',
                    comment_content : 'hi'
                },
                {
                    "Content-Type" : `application/json`,
                },

            );

            alert(rtnData.data);
        } catch (e) {
            alert(e);
        }
    });

</script>
</body>
</html>